
nameOverride: ""
fullnameOverride: ""

dockerRegistry:
  image:
    repository: registry
    tag: 3.0.0@sha256:61349442e9c3dc07fd06ffa6a4b622bc28960952b6b3adafcb58fa268ce92e70
    pullPolicy: IfNotPresent

oauthProxy:
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: "v7.14.2"
    pullPolicy: IfNotPresent

modelServer:
  image:
    repository: modelix/model-server
    tag: "18.2.0"
    pullPolicy: IfNotPresent

gitImport:
  image:
    repository: modelix/mps-git-import
    tag: "18.2.0"
    pullPolicy: IfNotPresent

proxy:
  image:
    repository: modelix/modelix-proxy
    tag: ""
    pullPolicy: IfNotPresent

versions:
  modelix:
    vncBaseImage: "0.9.4"

modelStorageSize: 3000Mi

# Maximal size of request body in mebibyte for ingress and proxy.
# Especially relevant for uploads in the workspace manager.
maxBodySize: 200

developmentMode: false

keycloak:
  adminPassword: "modelix"
  realm: "modelix"
  clientId: "modelix"
  clientSecret: ""
  loglevel: "warn"
  debug: false
  optimizedStartup: false
  image:
    repository: modelix/modelix-keycloak
    tag: ""
    pullPolicy: IfNotPresent

workspaces:
  enabled: true
  uploadsStorageSize: 5000Mi
  manager:
    memory: 600Mi
    image:
      repository: modelix/modelix-workspace-manager
      tag: ""
      pullPolicy: IfNotPresent
  client:
    # Ports as numbers which should be exposed from MPS.
    #
    # A use case is exposing custom servers running inside MPS.
    customExposedPorts: []
  job:
    image:
      repository: modelix/modelix-workspace-job
      tag: ""
      pullPolicy: IfNotPresent

ingress:
  enabled: true
  hostname: "localhost"
  ingressClassName: "nginx"
  port: ""
  certSecret: ""
  tls:
    crt: ""
    key: ""

certmanager:
  # Setting this to true requires that appropriate cert-manager CRDs are
  # installed before as described here:
  # https://cert-manager.io/docs/installation/helm/#option-1-installing-crds-with-kubectl
  #
  # kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.17.0/cert-manager.yaml
  enabled: false

db:
  useGCloud: false
  user: "modelix"
  password: "modelix"
  db: "modelix"
  storage: 3000Mi

postgres:
  image:
    repository: postgres
    tag: 17.6@sha256:5250e6187084ddf4ba407027d07eed2419d4656e30821afef43825c6c0d127df
    pullPolicy: IfNotPresent
  autoupgrade:
    enabled: false
    image:
      repository: pgautoupgrade/pgautoupgrade
      tag: 17-alpine@sha256:412261d55dd65c3de4e7ea1a9bbdc0ea1ac74b5e2895d13cd30f767c53074de3
      pullPolicy: IfNotPresent

dockerProxy:
  prefix: ""
  secret: ""
  secret64: ""
  caCertificate: ""

internalDockerRegistry:
  # The internal docker registry does not use HTTPS.
  # Kubernetes only allows pulling images from such insecure repositories when they run on localhost.
  # Therefore, the internal docker registry is exposed through NodePort on each cluster node.
  # The node port on which it is exposed needs
  # to be known in advance because we need to specify the address for authentication.
  # The node port is configurable to allow
  # changing it in deployments where it conflicts with other statically assigned node ports.
  nodePort: 30033

serviceAccount: ""

authorization:
  enabled: true

httpProxy: ""

storageClassName: ""