:80

reverse_proxy /modelix/maven-connector/* {$KUBERNETES_INSTANCE_PREFIX}workspace-manager.{$KUBERNETES_NAMESPACE}.svc.cluster.local:28104
reverse_proxy /modelix/workspaces/* {$KUBERNETES_INSTANCE_PREFIX}workspace-manager.{$KUBERNETES_NAMESPACE}.svc.cluster.local:28104

handle_path /model/* {
    reverse_proxy {$KUBERNETES_INSTANCE_PREFIX}model.{$KUBERNETES_NAMESPACE}.svc.cluster.local:28101
}

handle_path /workspace-manager/* {
    reverse_proxy {$KUBERNETES_INSTANCE_PREFIX}workspace-manager.{$KUBERNETES_NAMESPACE}.svc.cluster.local:28104
}

handle_path /kestra/* {
    reverse_proxy {$HELM_RELEASE_NAME}-kestra-service.{$KUBERNETES_NAMESPACE}.svc.cluster.local:8080
}

reverse_proxy /ui/* {$HELM_RELEASE_NAME}-kestra-service.{$KUBERNETES_NAMESPACE}.svc.cluster.local:8080
reverse_proxy /api/* {$HELM_RELEASE_NAME}-kestra-service.{$KUBERNETES_NAMESPACE}.svc.cluster.local:8080

reverse_proxy /workspace-* {$KUBERNETES_INSTANCE_PREFIX}workspace-manager.{$KUBERNETES_NAMESPACE}.svc.cluster.local:33332

root * /usr/share/caddy/
file_server

log
